@import url(https://fonts.googleapis.com/css?family=Roboto%20Slab);
* {
	box-sizing: border-box;
}

body {
	font-family: 'nimbus-sans', sans-serif;
	color: #343536;
}


/* User Agent Stylesheet overwriting */

input,
textarea,
select,
button {
	font-family: 'nimbus-sans', sans-serif;
	vertical-align: middle;
	font-size: 15px;
}


/* Button used to open the chat form */

.open-button {
	background-color: #005398;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 23px;
	right: 28px;
	width: 280px;
}

.open-button:hover {
	opacity: 1;
}


/* The popup chat */

.chat-popup {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	z-index: 9;
}


/* Chat container inside the popup */

.chat-container {
	max-width: 280px;
	padding: 10px;
	background-color: #005398;
	border-radius: 15px 15px 0 0;
}


/* Chat container's header */

.chat-header {
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
	width: 100%;
	text-align: center;
	display: inline-block;
	color: white;
	font-size: 20px;
	flex-shrink: 1;
}


/* Chat close button */

.chat-header .close {
	color: #fefefe;
	font: 25px/100% arial, sans-serif;
	float: right;
	text-decoration: none;
}

.chat-header .close:after {
	content: '✖';
	/* UTF-8 symbol */
}


/* Chat container's header title */

.chat-header .title {
	float: center;
}


/* Sent message text area */

.message-area {
	background-color: #fefefe;
	border-radius: 10px;
	padding: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 350px;
	flex-shrink: 1;
	overflow: auto;
}

.message-area::-webkit-scrollbar {
	width: 12.5px;
}

.message-area::-webkit-scrollbar-track {
	border-radius: 15px;
	background: #fefefe;
}

.message-area::-webkit-scrollbar-thumb {
	border-radius: 15px;
	background: #bfbfbf;
}

.message-area::-webkit-scrollbar-thumb:hover {
	background: #a0a0a0;
}


/* Message area elements */

.message {
	padding: 10px;
	border-radius: .4em;
	margin-bottom: 5px;
	color: #fefefe;
	clear: both;
}

.message.bot-message {
	background: #00B5D1;
	max-width: 95%;
	float: left;
}

.message.user-message {
	background: #0075B0;
	max-width: 95%;
	float: right;
}

.message.button-area {
	margin: 0 auto; 
	padding: 0;
	width: 100%; 
	text-align: center;
}

.message.reply-button {
	background: #0075B0;
	border: none;
	-webkit-transition-duration: 0.4s; 
	transition-duration: 0.4s;
	margin:3px 3px;
}

.message.reply-button:hover {
	background: #00B5D1; 
	cursor: pointer;
}


/* Message input area */

.message-form {
	display: flex;
	flex-shrink: 0;
}


/* Message input box */

.message-form-input {
	width: 100%;
	border: 1px solid #dfdfdf;
	border-radius: 10px;
	padding: 10px;
}
