## Core latex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Python cache files
*.pyc
**/__pycache__/*

# Trained models
chat-service/model/agent-data/models/
chat-service/model/agent-data/domain.yml
story_graph.dot

# ER data
*.xlsx

# Chat logs
chat-service/model/chat-logs/*

# Any archived trained models or stored data for releases
*.zip
