## Core latex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Python cache files
*.pyc
**/__pycache__/*

# Trained models
chat-service/model/agent-data/models/
*.dot
