<!DOCTYPE html>
<html>

<head>
    <title>Flask Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- should this be changed back to Glasgow University Virtual Assistant? need suggestions -->
    <button class="open-button" onclick="openForm()">Chat to UGenie</button>

    <div class="chat-popup" id="myForm">
        <div class="chat-container">

			<div class="chat-header">
				<a href="#" class="close" onclick="closeForm()"></a>
				<div class="title">&nbsp&nbsp&nbsp&nbsp<img src="../static/icon.png" alt="Icon"><br>UGenie</div>
			</div>

            <div class="message-area"></div>

            <form class="message-form" onsubmit="return false;" action="" method="POST">
                <input class="message-form-input" placeholder="Type a message..." type="text" />
            </form>

        </div>
    </div>

    <!-- External scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
	<script src="https://combinatronics.com/bryanwoods/autolink-js/master/autolink-min.js"></script>
    <script type="text/javascript"  src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>
